/* APP */
.app{
    background: rgb(13, 25,45);  /* fallback for old browsers */
   
    margin: auto;
    color: white;
    text-align: center;
    scroll-behavior: smooth;
}

/* HEADER */
.headbar{
    /* background: rgba(0, 12, 64, 0.4); */
    position: relative;
}
.icons{
    font-size: 25px;
    margin-left: 28px;
}

.link,.github,.twitter,.email{
   color: white;
   margin: 5px 5px;
}
.navbar{
    display: flex;
    font-size: 20px;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    width: 100%;
   z-index: 10;
   
    background: rgba(0, 12, 64)
}
.h{
    color: white;
    margin: 15px;
    padding: 0;
    scroll-behavior: smooth;
}


/* UNIVERSAL */
.project, .aboutme,.contactme{
    font-size: 30px;
}


/* FIRST SLIDE/ NAME */
.firstslide{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}
.nameandtag{
    display: flex;
    flex-direction: column;
    margin: 10px;
    /* background: #ffffff; */
    width: 45%;
}
.greyscale{
    width: 90%;
    margin: 10px;
    animation: slideinn 2.5s, infinite alternate;
}
.greyBack{
    /* background: #ffffff; */
    width: 55%;
}
@keyframes slideinn{
    from {
        margin-left: -2000px;

      }
    
      to {
        margin-left: 0%;

      }
}
.fullname {
    animation: pulse 5s, slidein 4s, infinite alternate;
  }
  @keyframes pulse {
    0% {
      color: rgb(133, 133, 133);
    }
    50%{
        color: rgb(144, 144, 144);
    }
    100%{
        color: white;
    } 
  }  
  @keyframes slidein {
    from {
      margin-left: 500%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
.tagline{
      animation: slide 3s, infinite alternate;
  }
  @keyframes slide{
      from {
          margin-left: 500%;
          width: 300%;
      }
      to{
          margin-left: 0%;
          width: 100%
      }
  }
/* SECOND SLIDE */

.code{
    width: 5%;
    height: 70px;
}
.codes{
    width: 7%; 
    height: 60px;
    margin: 0 10px;
}
.secondslide{
    width: 100%;

}
.languages{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
}
.screenshots{
    display: flex;
    flex-wrap: wrap;
}
.shot{
    width: 30%;
    margin: 10px;
    transition: 0.3s ease-out;
    display: flex;
}
.shot:hover, .barshot:hover{
    transform: translate(6px, 0px);
    transition: 0.3s ease-out;
    box-shadow: -9px -9px 0px 0px rgb(100, 142, 187);
}
.nbadiv{
    display: flex;
    flex-direction: column;
    background: rgb(84, 85, 87);
    margin: 10px;
    width: 100%;
}
.singleProject{
    display: flex;
    justify-content: space-between;
}
.projectA{
    margin: 0px;
    padding: 0px;
}
.projectGit{
    font-size: 30px;
    color: white;
}


/* /////////////// */
/* ////THIRD SLIDE/// */
.thirdslide{
    width: 100%;

}
.aboutText{
    color: white;
    width: 40%;
    line-height: 30px; 
    margin: auto;
    margin-top: 10px;
}
/* FOURTH SLIDE */
.fourthslide{
    width: 100%;
} 
.email{
    color: white;
    font-size: 22px;
    text-decoration: underline;
}
.formtext{
    color: white;
    width: 50%;
    margin:auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.resume{
    text-decoration: underline;
    color: rgb(139, 139, 139);
}
.resume:hover{
    color: white;
}
  /* CONTACT FORM */

.contact-form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    background: rgb(220, 220, 220);
    text-align: center;
    border: 3px solid black;
}
.input{
    margin: auto;
    height: 30px;
    width: 50%;
    background: none;
    outline: none;
    border: 1px solid black;
    font-size: 15px;
}
.input:focus, .inputText:focus{
    transition: 0.3s ease-in-out;
    border: 2px solid #000C40;
    background:white ;
}
.label{
    margin-top: 20px;
    margin-bottom: 10px;
}
.inputText{
    margin: auto;
    margin-bottom: 15px;
    height: 60px;
    width: 50%;
    background: none;
    outline: none;
    border: 1px solid black;
    font-size: 15px;
}
.submit{
    margin: auto; 
    margin-bottom: 15px;
    height: 30px;
    width: 25%;
    background: none;
    outline: none;
    border: 1px solid black;
    font-size: 15px;
    cursor: pointer;
}
.submit:hover{
    transition: 0.2s ease-in-out;
    background: white;
    color: black;
}
