/* APP */
.app{
    background: rgb(13, 25,45);  /* fallback for old browsers */
    margin: auto;
    width:100%;
    color: white;
    text-align: center;
    scroll-behavior: smooth;
}

/* HEADER */
.headbar{
    /* background: rgba(0, 12, 64, 0.4); */
    position: relative;
}
.icons{
    font-size: 25px;
    margin-left: 28px;
}

.link,.github,.twitter,.email{
   color: white;
   margin: 5px 5px;
}
.link:hover,.github:hover, .twitter:hover, .email:hover{
    color:rgb(139, 139, 139);
}
.navbar{
    display: flex;
    font-size: 20px;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    width: 100%;
   z-index: 10;
   
    background: rgb(64, 70, 98)
}
.navbar a{
    text-decoration: none;
}

.h{
    color: #ccc;
    margin: 15px;
    padding: 0;
    scroll-behavior: smooth;
}
.h:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s;
}
.h:hover::after{
    width: 100%;
}
.h:hover{
    color: white;
}


/* UNIVERSAL */
.project, .aboutme,.contactme{
    font-size: 30px;
}


/* FIRST SLIDE/ NAME */
.firstslide{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}
.nameandtag{
    display: flex;
    flex-direction: column;
    margin: 10px;
    /* background: #ffffff; */
    width: 45%;
}
.greyscale{
    width: 90%;
    margin: 10px;
    animation: slideinn 2.5s, infinite alternate;
}
.greyBack{
    /* background: #ffffff; */
    width: 55%;
}
@keyframes slideinn{
    from {
        margin-left: -2000px;

      }
    
      to {
        margin-left: 0%;

      }
}
.fullname {
    animation: pulse 5s, slidein 4s, infinite alternate;
  }
  @keyframes pulse {
    0% {
      color: rgb(133, 133, 133);
    }
    50%{
        color: rgb(144, 144, 144);
    }
    100%{
        color: white;
    } 
  }  
  @keyframes slidein {
    from {
      margin-left: 500%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
.tagline{
      animation: slide 3s, infinite alternate;
  }
  @keyframes slide{
      from {
          margin-left: 500%;
          width: 300%;
      }
      to{
          margin-left: 0%;
          width: 100%
      }
  }
/* SECOND SLIDE */

.code{
    width: 5%;
    height: 70px;
}
.codes{
    width: 7%; 
    height: 60px;
    margin: 0 10px;
}
.secondslide{
    width: 100%;
    height: 80vh;

}
/* The listed technologies */
.languages{
    margin-bottom: 40px;
}
.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 18px;
    border-bottom: 1px solid white;
    padding: 0px
   
}
.li{
    list-style-type: none;
    cursor: default;
    padding: 0px 5px;
}
.li:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s;
}
.li:hover::after{
    width: 100%;
}

/* Live Projects */
.screenshots{
    display: flex;
}
.shot{
    width: 100%;
    transition: 0.3s ease-out;
}
.shot:hover, .barshot:hover{
    transform: translate(6px, 0px);
    transition: 0.3s ease-out;
    box-shadow: -9px -9px 0px 0px rgb(100, 142, 187);
}
.nbadiv{
    display: flex;
    line-height: 60px;
    margin: 10px;

}
.projectLabel{
    font-size: 22px;
    cursor: pointer;
}
.projectLabel:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s;
}
.projectLabel:hover::after{
    width: 100%;
}
#activeLabel{
    color: rgb(100, 142, 187); 
}
.projectLabels{
    width: 20%;
    margin-right: 100px;
}
.liveProjects{
    width: 65%;
}
.singleProject{
    display: flex;
}
.projectA{
    margin: 0px;
    padding: 0px;
}
.projectGit{
    font-size: 30px;
    color: white;
}
#notshown{
    margin-left: 500%;
    display: none;
}
#shown{
    margin-left: 0px;
}
.projectDescription{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    width: 100%;
}
/* /////////////// */
/* ////THIRD SLIDE/// */
.thirdslide{
    width: 100%;
}
.aboutText{
    color: white;
    width: 40%;
    line-height: 30px; 
    margin: auto;
    margin-top: 10px;
}
/* FOURTH SLIDE */
.fourthslide{
    display: flex;
    flex-direction: column;
    width: 100%;
} 
.email{
    color: white;
    font-size: 22px;
    text-decoration: underline;
}
.formtext{
    color: white;
    width: 50%;
    margin:auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.resume{
    text-decoration: underline;
    color: rgb(139, 139, 139);
}
.resume:hover{
    color: white;
}


@media screen and (max-width: 1024px){
    .liveProjects{
        width: 50%;
        margin:auto;
    }
    .projectLabel{
        font-size: 18px;
    }
    .singleProject{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .projectDescription{
        margin-left:0px;
    }
}
@media screen and (max-width: 768px){
    .liveProjects{
        width: 75%;
        margin: auto;
    }
    .screenshots{
        display: block;
    }
    .projectLabels{
        width: 100%;
        margin-left: 0px;
        display: flex;
        justify-content: space-between;
       
    }
    .projectLabel{
        text-align: center;
    }
    .project{
        display: none;
    }
    .aboutText, .formtext{
        width: 90%;
    }
    
    
}

